.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.7rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 1;
    animation: showModal 0.3s ease-in-out;
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal-exit {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    animation: hideModal 0.3s ease-in-out;
}

.modal-exit-active {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    animation: hideModal 0.3s ease-in-out;
}

@keyframes hideModal {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
